
li.menuOption{
    color: white;
    border-bottom: 3px solid black;
}

li.menuOption:hover a{
    cursor: pointer;
    transition: border-bottom 0.1s linear 0.1s;
    border-bottom: 3px solid rgba(147, 5, 0, 0.9);
    color: rgba(147, 5, 0, 0.9);
}

a{
    text-decoration: none;
    color: white;
}

a.active{
    color: rgba(147, 5, 0, 0.9);
}